<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.js" ></script>
    <%- include('nav.html') %>
    <script src="https://cdn.socket.io/4.5.2/socket.io.min.js"></script>
    
    <h4 class="ml-2 my-3 text-center">채팅방</h4>
    <input type="text" id="inputText">
    <div id="content"></div>
    <button id="send">서버에 메세지 보내기</button>
    <button id="chatroom1">채팅방1 입장</button>
    <button id="chatroom1-send">채팅방1 에서 메세지 보내기</button>

    <script>
        var socket = io();
        $('#send').click(function(){
            // 서버에게 보냄
            socket.emit('user-send', $('#inputText').val());
        })
        
        // 서버에서 받음
        socket.on('broadcast', function(data){
            $('#content').append('<div>'+data+'</div>');
        });

        $('#chatroom1').click(function(){
            socket.emit('joinroom', '채팅방 입장 요청');
        })

        $('#chatroom1-send').click(function(){
            socket.emit('chatroom1-send', '채팅방1 메세지 보냄');
        })
    </script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>